<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="center">
            <div class="logo"><img src="../static/logo.png"></div> <!--Logo-->
            <div class="menu"> <!--Começo menu-->
                <a href="/">Home</a>
                <a href="/quemsomos">Quem somos</a>
                <a href="/contatos">Contatos</a>
            </div> <!--Fim menu-->
        </div>
    </header>
    {% block header %}
    {% endblock %}
</body>
</html>