{% extends "base.html" %}

{% block header %}
<head>
    <title>Home</title>
</head>
<body background="../static/fundo.png">
    <main>
        <img src="../static/capa.png"
        <div>
            <h1>Sobre a universidade</h1>
            <p>Lorem ipsum, <strong>sit amet</strong> consectetur adipisicing elit. Sunt exercitationem aperiam minus voluptatem adipisci voluptatibus veniam itaque quaerat nostrum, sint, architecto atque nesciunt maxime laboriosam ullam illum dolore alias sed.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui eaque nisi corporis minima magni, pariatur sunt debitis, delectus exercitationem sint, nobis laudantium voluptas totam dignissimos recusandae eveniet consequatur possimus aliquam?
            </p>
            <p>Lorem ipsum dolor sit amet <strong>adipisicing</strong>elit. Odio enim id atque deserunt! Deserunt error, eaque quia, voluptate eum rerum accusantium, harum blanditiis .</p>
        </div>
    </main>
    <br>
    <footer>
        <h4>Todos os direitos reservados</h4>
    </footer>

</body>
{% endblock %}
