{% extends "base.html" %}

{% block header %}
<head>
    <title>Quem somos</title>
</head>
<body background="../static/fundo2.png">
<main>
    <h2>Quem somos</h2>
    <br>
    <p>Lorem <strong>ipsum dolor</strong> sit amet consectetur, adipisicing elit. Provident unde qui reiciendis saepe quaerat laboriosam totam nisi consequuntur, autem nihil corporis et sunt, possimus rerum id quasi amet quod. Necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita, tempora, beatae molestias possimus vitae quisquam ea voluptate rem explicabo sapiente, animi earum quibusdam mollitia? Nostrum quia iusto similique vero!</p>
    <br>
    <h2>5 motivos para estudar</h2>
    <ol id="lista">
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima avaliação</li>
    </ol>
    <br>
    <hr>
    <br>
    <h2>Objetivos</h2>
    <br>
    <p>Lorem ipsum dolor sit amet <strong>consectetur</strong> adipisicing elit. Similique beatae voluptatem itaque ea repellat sunt at animi est saepe, perferendis totam modi. Enim, quidem fugit itaque sit accusantium neque autem? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis error rerum atque, et sint soluta itaque ipsum illo. Aspernatur, repudiandae! Laborum voluptates sed ad eum molestiae voluptas molestias nobis quae.</p>
</main>
<br>
<br>
<footer>
    <h4>Todos os direitos reservados</h4>
</footer>
</body>
</html>
{% endblock %}